* {
    font-family: "Montserrat Regular";
}

.montserrat-semibold {
    font-family: "Montserrat-SemiBold";
}

.custom-height {
    height: calc(100vh - 26rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Swiper JS Styles */

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e11d48;
    font-size: 20px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #e11d48;
}

/* Font Styles */

@font-face {
    font-family: "Montserrat Regular";
    src: url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.eot");
    src: url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0462590be6674a5827956be5045c54de.svg#Montserrat Regular")format("svg");
}


@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.eot");
    src: url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/99226186ebf0771f0be7c6255b3491a8.svg#Montserrat-SemiBold")format("svg");
}