<main class="flex flex-col relative z-1">
    <div class="flex flex-col-reverse md:flex-row flex-1">
        <div class="md:h-screen bg-gray-600 p-2">
            <%= render "places/sidebar" %>
        </div>
        <div class="hidden w-full max-w-[24.5rem] md:h-screen md:overflow-scroll md:w-[24.5rem] md:block bg-[#fcfdfd]">
            <%= render "reports/index_list" %>
        </div>
        <div class="flex-1">
            <%= render "places/map", places:@places %>
        </div>
    </div>
</main>
