<section>
    <div class="bg-gray-900 text-white py-8">
        <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
            <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
                <p class="ml-2 text-yellow-300 uppercase tracking-loose">POGO Timeline</p>
                <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Key Events and Developments</p>
                <p class="text-sm md:text-base text-gray-50 mb-4">
                    Here’s your guide to the key events and regulatory milestones of POGO from 2003 to 2024. Follow these steps to understand the industry's evolution, including licensing, regulatory challenges, and major events like Alice Guo’s trial.
                </p>
                <%= link_to "/map" do %>
                <button class="px-4 py-2 mt-2 md:px-12 xl:py-4 rounded-full hover:before:bg-yellow-500 relative h-[50px] w-40 overflow-hidden border border-yellow-500 font-semibold text-yellow-300 transition-all duration-300 before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-yellow-500 before:transition-all before:duration-300 hover:text-white hover:before:left-0 hover:before:w-full flex items-center justify-center whitespace-nowrap bg-transparent">
                    <span class="relative z-10">Back to Map</span>
                </button>
                <% end %>
            </div>
            <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
                <div class="container mx-auto w-full h-full">
                    <div class="relative wrap overflow-hidden p-10 h-full">
                        <div class="border-2-2 border-yellow-555 absolute h-full border"
                            style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
                        <div class="border-2-2 border-yellow-555 absolute h-full border"
                            style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
                        <!-- Timeline Entry: 2003 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">2003</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">POGO Operations Begin</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    POGO operations begin in the Philippines, primarily targeting the Chinese market. The industry is small-scale and operates in a regulatory gray area.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2004-2015 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">2004-2015</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Gradual Growth</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The POGO industry experiences slow and steady growth with minimal impact on the Philippine economy.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2016 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">2016</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Executive Order No. 13</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Executive Order No. 13 is signed, creating a more favorable environment for POGOs. The industry experiences rapid growth, attracting significant investments.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2017 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">2017</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Licenses Surge</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    A surge in POGO licenses leads to increased job creation and revenue generation, with accelerated infrastructure development to accommodate the growing workforce.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2018 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">2018</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Peak and Concerns</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The POGO industry reaches its peak, contributing substantially to the Philippine economy, but concerns about social issues and crime related to POGOs begin to emerge.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2019 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">2019</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Regulation Intensifies</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    PAGCOR halts the issuance of new POGO licenses and implements stricter regulations to address growing concerns.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2020 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">2020</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Impact of COVID-19</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The COVID-19 pandemic severely impacts the POGO industry, leading to job losses and revenue decline as operations are disrupted.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: July 2020 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">July 2020</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Alice Guo's Arrest</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Alice Guo is arrested on charges related to tax evasion and money laundering, sparking significant media coverage.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: January 2021 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">January 2021</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Trial of Alice Guo</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The trial of Alice Guo begins, focusing on her alleged involvement in illegal financial activities within the POGO sector. The trial further affects the industry’s reputation.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2022 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">2022</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Regulatory Crackdown</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The government intensifies its crackdown on illegal POGO activities, resulting in the closure of several non-compliant operators and an increase in tax rates for POGO operators.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2023 -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">2023</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Rebranding as IGLs</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The POGO industry undergoes rebranding as Internet Gaming Licensees (IGLs). The industry continues to contract under a stricter regulatory environment.
                                </p>
                            </div>
                        </div>
                        <!-- Timeline Entry: 2024 -->
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">2024</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl">Reforms and Future</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The future of the IGL industry in the Philippines remains uncertain. The government balances potential economic benefits with social risks, and new reforms are introduced to improve regulation and oversight of POGO activities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <img class="mx-auto -mt-36 md:-mt-36" src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
                </div>
            </div>
        </div>
    </div>
</section>
