<div class="xl:h-screen flex flex-col text-white">
    <img class="w-full xl:block hidden" src="https://i.postimg.cc/cHwq0Tf6/alice-guo-blur.png">
    <img class="w-full xl:hidden" src="https://i.postimg.cc/T1fwnK92/alice-guo.png">
    <span class="flex flex-col items-start p-8 md:px-14 xl:absolute top-[30rem]">
        <h1 class="montserrat-semibold w-full text-4xl border-b-4 border-rose-600 pb-2 transition-all ease-in-out duration-300 md:text-7xl text-shadow-md">
            PHILIPPINE POGO CRISIS
        </h1>
        <h2 class="montserrat-semibold w-full text-3xl pt-2 transition-all ease-in-out duration-300 md:text-5xl text-shadow-md">
            Unveiling the Dark Side of Online Gambling
        </h2>
        <p class="pt-2 transition-all ease-in-out duration-300 md:text-lg text-shadow-sm">
            Discover the turmoil in the Philippine Offshore Gaming Operators (POGO) industry, from rising crime to economic challenges & regulatory struggles.
        </p>
    </span>
</div>