<div class="flex flex-col justify-center gap-2 text-white md:mx-auto md:gap-4">
    <span>
        <h1 class="montserrat-semibold  w-full text-4xl transition-all ease-in-out duration-300 md:text-5xl lg:text-7xl xl:text-8xl">POGO HUBS</h1>
        <h1 class="montserrat-semibold  w-full text-4xl transition-all ease-in-out duration-300 md:text-5xl lg:text-7xl xl:text-8xl">EXPLOSION</h1>
    </span>
    <h2 class="montserrat-semibold  w-full text-3xl transition-all ease-in-out duration-300 md:text-[2rem] lg:text-4xl xl:text-6xl">The Progression of POGO Hubs</h2>
    <p class="transition-all ease-in-out duration-300 md:text-xl lg:text-2xl xl:text-3xl">Dive into the rapid growth of Philippine Offshore Gaming Operators (POGO) hubs over the past seven years. This section charts their expansion, highlighting key milestones and the factors driving their proliferation.</p>
    <%= link_to "/map" do %>
    <button class="px-4 py-2 mt-2 md:text-lg md:px-12 xl:py-4 rounded-full hover:before:bg-yellow-500 relative h-[50px] w-40 overflow-hidden border border-yellow-500 font-semibold text-yellow-300 transition-all duration-300 before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-yellow-500 before:transition-all before:duration-300 hover:text-white hover:before:left-0 hover:before:w-full flex items-center justify-center whitespace-nowrap bg-transparent">
        <span class="relative z-10">Browse Map</span>
    </button>
    <% end %>
</div>