     <div class="h-full" data-controller="map" data-map-latlong-value="<%=@places.pluck(:latitude, :longitude, :name)%>">
        <div data-map-target="container" class="h-screen w-auto"></div>
    </div>