     <div class="h-full" data-controller="map" data-map-latlong-value="<%=@places.pluck(:latitude, :longitude, :name, :id)%>">
        <div data-map-target="container" data-report-detail-target="toggleNavheight" class="custom-navheight md:h-screen w-auto"></div>
    </div>