<div class="h-full" data-controller="map" data-map-latlong-value="<%=@places.pluck(:latitude, :longitude, :name, :address)%>">
    <div data-map-target="container" class="custom-navheight md:h-screen w-full relative -z-1"></div>
</div>