<div class="w-full">
    <h1 class="font-bold text-4xl mb-2">Places</h1>
     <div data-controller="map" data-map-latlong-value="<%=@places.pluck(:latitude, :longitude)%>">
        <div data-map-target="container" class="h-[75vh] w-auto"></div>
    </div>
</div>

