<main class="flex flex-col relative z-1">
    <div class="flex flex-col-reverse md:flex-row flex-1">
        <div class="h-screen bg-gray-600 p-2">
            <%= render "places/sidebar" %>
        </div>
        <div data-dropdown-target="details" class="hidden h-screen bg-gray-100 md:block md:w-[24.5rem]">
            <%= render "places/show_details"%>
        </div>
        <div class="flex-1">
            <%= render "places/show_map", locations:@locations %>
        </div>
    </div>
</main>

